@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
* {
  font-family: 'Inter', sans-serif;
}
.css-qzb8iw-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
}
.css-1o0mhv8-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
}

.bg-img {
  background-image: url('../public/bg-ticket.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.p-datepicker-header {
  display: none !important;
}

.p-datepicker-calendar > thead > tr > th {
  color: red;
}
.p-datepicker-calendar > tbody > tr > td {
  font-weight: bold;
}

.p-datepicker {
  background-color: #f0ebeb;
}

#picker .p-inputtext {
  text-align: center;
  font-size: 30px !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#picker2 .p-inputtext {
  font-size: 15px !important;
  text-align: center;
}

#checkbox {
  accent-color: white;
}

.css-1ca9bd9-MuiTableCell-root {
  padding: 0px !important;
  width: 149px;
}
